.vscode/**
.vscode-test/**
.gitignore
.gitattributes
vsc-extension-quickstart.md

# Project documentation and example content (not for users)
docs/**

# Development & test code (Node)
parse_syntax.js
package-lock.json
node_modules/**

# Development & test code (Python)
tasks.py
requirements.txt
tests/**

# GitHub workflows, CI
.github/**

# Screenshots and extra assets (excluded from VSIX)
assets/**
